<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        
        <div>
          <h1 class="display-3">¡BBBBBienvenidos al repositorio de información del Centro Internacional de Ciencia Verde  para  Latinoamericana y el Caribe!
          </h1>
          <p class="lead">Nos complace presentarles nuestro repositorio digital,
             creado en colaboración con el grupo de investigación Green It, 
             de la Universidad Central del Valle del Cauca. Utilizando la plataforma 
             líder de código abierto DSpace, hemos creado un espacio centralizado
              para almacenar y compartir documentos y materiales académicos relacionados
               con el uso de energía eficiente y el impacto medioambiental, como la huella de carbono.
               DSpace es una plataforma que nos permite:
              </p>
        </div>
      </div>
      <ul>
        <li>Facilitar la incorporación de documentos, audio, video, 
          conjuntos de datos y su correspondiente metadato Dublin Core.
        </li>
        <li>Abrir este contenido a audiencias locales y globales gracias 
          a la interfaz OAI-PMH y las optimizaciones de Google Scholar.
        </li>
        <li>Emitir URL permanentes e identificadores confiables,
           incluyendo integraciones opcionales con handle.net y DataCite DOI.
        </li>
      </ul>
     <!--  <p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
      </ul> -->
    </div>
  </div>
  <picture class="background-image">
  <source type="image/webp" srcset="assets/dspace/images/fondo2.jpg 2000w">
   <source type="image/jpg" srcset="assets/dspace/images/fondo2.jpg 2000w, assets/dspace/images/fondo2.jpg 1200w, assets/dspace/images/fondo2.jpg 768w">  
    <img alt="" [src]="'assets/dspace/images/fondo2.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
<!--   <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
 --></div>
